*,
::after,
::before
{
    margin:0;
    padding:0;
   font-size: .14rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;

}
input{
    border:none;
    outline: none;
    -webkit-appearance: none;
}
.fl{
    float:left;
}
.fr{
    float:right;
}

.clearfix::after
{
content:"";
display: block;
line-height: 0;
height: 0;
visibility: hidden;
clear: both;
}

li{
    list-style: none;
}
.clear{
    content: "";
    display: block;
    clear:both;
}
a{
    color:black;
    text-decoration: none;
}
html{
    font-size: 100px;
}

